.input {
  position: relative;
  text-align: center;
  padding: 0 30px 80px 30px;
  max-width: 680px;
  margin: 0 auto;

  input {
    opacity: 0.7;
    padding: 14px 25px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid $Desaturated-Red;
  }

  button {
    background-image: linear-gradient($gradient2);
    border-radius: 40px;
    padding: 11px 12px 8px 35px;
    box-shadow: 5px 5px 20px $Desaturated-Red;
    position: absolute;
    right: 30px;
    top: 0px;

    img {
      position: relative;
      right: 80%;
      top: 50%;
    }
  }

  ::placeholder {
    color: $Desaturated-Red;
  }
}