.input {
  text-align: center;
  padding: 0 30px 80px 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    opacity: 0.7;
    padding: 14px 25px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid $Desaturated-Red;
    position: relative;
  }

  button {
    opacity: 1;
    background-image: linear-gradient($gradient2);
    border-radius: 40px;
    border: 1px solid $Desaturated-Red;
    padding: 11px 12px 8px 35px;
    box-shadow: 5px 5px 20px $Desaturated-Red;
    position: absolute;
    left: 76%;

    img {
      position: relative;
      right: 60%;
      top: 50%;
    }
  }

  ::placeholder {
    color: $Desaturated-Red;
  }
}