* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-image {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  padding: 30px;
  max-height: 75px;
}

header img {
  width: 100px;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  padding: 50px 30px 20px 30px;
}

.text h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 8px;
}

.text h1 span {
  font-weight: 300;
  color: #ce9797;
}

.text p {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  line-height: 22px;
  color: #ce9797;
}

.input {
  position: relative;
  text-align: center;
  padding: 0 30px 80px 30px;
  max-width: 680px;
  margin: 0 auto;
}

.input input {
  opacity: 0.7;
  padding: 14px 25px;
  border-radius: 40px;
  width: 100%;
  border: 1px solid #ce9797;
}

.input .error {
  position: absolute;
  right: 100px;
  top: 10px;
  display: none;
}

.input .error-message {
  color: #f96262;
  padding-top: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  display: none;
}

.input button {
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 40px;
  padding: 11px 12px 8px 35px;
  -webkit-box-shadow: 5px 5px 20px #ce9797;
          box-shadow: 5px 5px 20px #ce9797;
  position: absolute;
  right: 30px;
  top: 0px;
}

.input button img {
  position: relative;
  right: 80%;
  top: 50%;
}

.input ::-webkit-input-placeholder {
  color: #ce9797;
}

.input :-ms-input-placeholder {
  color: #ce9797;
}

.input ::-ms-input-placeholder {
  color: #ce9797;
}

.input ::placeholder {
  color: #ce9797;
}

@media screen and (min-width: 768px) {
  .hero-image {
    max-width: 800px;
  }
}

@media screen and (min-width: 800px) {
  .img img {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-image: url(../images/bg-pattern-desktop.svg);
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  main section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    justify-self: flex-start;
    width: 450px;
    padding: 30px 0px 30px 50px;
  }
  main section .text h1 {
    text-align: left;
    font-size: 4em;
  }
  main section .text p {
    text-align: left;
    width: 388px;
  }
  main .img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .img img {
    margin-top: -75px;
    max-height: 660px;
    max-width: 50%;
    position: absolute;
    left: 50%;
  }
  main header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main header img {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1300px) {
  header {
    padding: 40px 30px 30px 182px;
  }
  header img {
    width: 150px;
  }
  main .img img {
    max-width: 42%;
    left: 58%;
  }
  main section {
    padding: 30px 0 30px 150px;
  }
  main section .text h1 {
    font-size: 5em;
  }
  main section .text p {
    font-size: 16px;
    width: 430px;
  }
  main section .input input {
    width: 430px;
  }
  main section .input .error {
    right: -70px;
  }
  main section .input button {
    -webkit-transform: translateX(190px);
            transform: translateX(190px);
    padding: 11px 25px 8px 35px;
  }
  main section .input button img {
    right: 15%;
  }
}
/*# sourceMappingURL=style.css.map */